* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(56, 217, 232);
}

a:hover {
    text-decoration: underline;
}

header li {
    list-style-type: none;
}

img {
    display: block;
}